@{
    ViewBag.Title = "Home Page";
}
@model CarRental.WebUi.Models.Home.IndexViewModel

<div class="jumbotron">
    <h1>@Model.CompanyName Araç Kiralama</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Araçlar</h2>
        <div>
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Marka</th>
                        <th>Seri</th>
                        <th>Model</th>
                        <th>Yıl</th>
                        <th>Yakıt</th>
                        <th>Kilometre</th>
                        <th>Ehliyet Yaşı</th>
                        <th>Günlik Kilometre Limiti</th>
                        <th>Airbag Sayısı</th>
                        <th>Günlük Fiyat</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Vehicles)
                    {
                        <tr>
                            <td>@item.Make</td>
                            <td>@item.Serie</td>
                            <td>@item.Model</td>
                            <td>@item.Year</td>
                            <td>@item.Fuel</td>
                            <td>@item.Km</td>
                            <td>@item.MinimumDrivingLicenceAge</td>
                            <td>@item.DailyKmLimit</td>
                            <td>@item.AirBag</td>
                            <td>@item.DailyPrice</td>
                            <td>
                                <a class="btn btn-default btn-primary" href="Vehicle/index/@item.Id" role="button">Kirala</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>